<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="coolpharaoh.tee.speicher.tea.timer">

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="false"
        android:xlargeScreens="false" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />


    <application
        android:name=".TeaMemory"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/app_theme">
        <activity
            android:name=".views.overview.Overview"
            android:permission=""
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.description.UpdateDescription"
            android:exported="false"
            android:label="Update Information"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.overview.Overview" />
        </activity>
        <activity
            android:name=".views.new_tea.NewTea"
            android:exported="false"
            android:label="Create/Edit tea"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.overview.Overview" />
        </activity>
        <activity
            android:name=".views.show_tea.ShowTea"
            android:exported="false"
            android:label="Information"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.overview.Overview" />
        </activity>
        <activity
            android:name=".views.description.ShowTeaDescription"
            android:exported="false"
            android:label="ShowTea Description"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.show_tea.ShowTea" />
        </activity>
        <activity
            android:name=".views.information.Information"
            android:exported="false"
            android:label="More Information"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.show_tea.ShowTea" />
        </activity>
        <activity
            android:name=".views.settings.Settings"
            android:exported="false"
            android:label="Settings"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.overview.Overview" />
        </activity>
        <activity
            android:name=".views.export_import.ExportImport"
            android:exported="false"
            android:label="ExportImport"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.overview.Overview" />
        </activity>
        <activity
            android:name=".views.about.About"
            android:exported="false"
            android:label="About"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.overview.Overview" />
        </activity>
        <activity
            android:name=".views.contact.Contact"
            android:exported="false"
            android:label="Contact"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.about.About" />
        </activity>
        <activity
            android:name=".views.statistics.Statistics"
            android:exported="false"
            android:label="Statistics"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.about.About" />
        </activity>
        <activity
            android:name=".views.software.Software"
            android:exported="false"
            android:label="Software"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.about.About" />
        </activity>

        <receiver android:name=".views.show_tea.countdowntimer.TeaCompleteReceiver" />

        <service android:name=".views.show_tea.countdowntimer.NotificationService" />
    </application>

</manifest>